.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
    }

.donate{
    background-color: #E8DCDC;
    position: relative;
    width:950px !important;
    height: 80vh;   
    border-radius: 5px;
}
.titulo{
    font-size: 2em;
    font-weight: bold;
    color: 172323;
    margin-top: 20px;
    margin-bottom: 10px;
}


.cards {
    width: 880px !important;
    height: 110px;
    text-align: left;
    border: 0px;
    display: inline-flex;
    
}
.card-body{
    margin:5px;
    background-color: #172323 !important;
    position: relative;
    transition: background-color 0.2s;
}
.card-body:hover{
    background-color: #007bff !important;
    cursor: pointer;
}


.card-text{
    font-size: 0.8em;
    font-weight: bold;
    color: white;

}
.card-title{
    color: white;
}
.icon{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 3.5em !important;
    width: 3.5em !important;
    color: white;
    
}


