.card {
    width: 280px;
    height: 110px;
    text-align: left;
    border: 0px;

}
.card-body{
    background-color: #007bff;
}

.card-text{
    font-size: 15px;
    font-weight: bold;
    color: white;

}
.card-title{
    color: white;
}
.icon{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 3.5em !important;
    width: 3.5em !important;
    color: white;
}
